body {
 background-image: url('../imagenes/fondo.jpg');
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.barra
{
  position: relative;
}

.barra:after
{
  position: absolute;
  
}

.overlap
{
    width: 0px;
    height: 0px;
   
}

.overlap:after
{
    width: 5%;
    height: 5%; 
}